/*start global*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
html{
    scroll-behavior:smooth;
}
body {
    font-family: 'Open Sans', sans-serif
}
:root {
    --main-color: #00c7fc;
    --transparent-color: #00c7fc61
}
ul{
    list-style:none
}
.container {
    width: 800px;
    margin: 0px auto;
    padding: 0 20px;
    min-height: 97px
}
@media (min-width:312px) {
.container {
    width: 350px
}
}
@media(min-width:768px) {
.container {
    width: 600px
}
.header .nav .menu {
    display: none
}
.services .srv-container{
    display:grid;
    grid-template-columns:repeat(auto-fill , minmax(400px , 1fr));
    grid-column-gap:30px;
    grid-row-gap:60px
}
}
@media(max-width:768px){
.header .container .nav ul {
    display:none
}
.landing .overlay .text {
    min-width: 100%
}
.landing .overlay .text .content {
    min-width: 100%
}
.main-heading p{
    max-width:180px
}
.services .srv-container .srv-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom:30px
}
.services .srv-container .srv-box i{
    margin-bottom:30px
}
.landing .overlay .arrows {
    visibility: hidden
}
.design .content{
    min-width:100%
}
}
@media (min-width:992px) {
.container {
    width: 850px
}
}
@media (min-width:1200px) {
.container {
    width: 1100px
}
}
/*end global*/
/*start component*/
.main-heading{
    text-align:center;
    padding:100px 0
}
.main-heading h2{
    font-size:40px;
    font-weight:normal;
    position:relative;
    margin-bottom:70px
}
.main-heading h2::before{
    content:"";
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    height:2px;
    background-color:black;
    bottom:-40px;
    width:140px
}
.main-heading h2::after{
    content:"";
    position:absolute;
    width:15px;
    height:15px;
    border-radius:50%;
    border:3px solid;
    background-color:white;
    left:50%;
    transform:translateX(-50%);
    bottom:-47.5px
}
.main-heading p {
    width: 500px;
    margin: 0 auto 100px;
    line-height: 1.7;
    color:#777
}
/*end component*/
/*start header*/
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2
}
.header a img{
    height:60px
}
.header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative
}
.header .container::before{
    content:"";
    position:absolute;
    width:calc(100% - 40px);
    height:2px;
    background-color:white;
    bottom:0
}
.header .nav {
    flex-grow:1;
    display:flex;
    justify-content:flex-end;
    align-items:center
}
.header .nav ul{
    display:flex
}
.header .nav ul li a{
    color:white;
    text-decoration:none;
    display:block;
    transition:0.25s;
    font-size:14px;
    padding:40px 10px;
    position:relative;
    z-index:3
}
.header .nav ul li a:hover, .header .nav ul li .active {
    color: var(--main-color);
    border-bottom:3px solid var(--main-color)
}
.header .nav .form{
    width:40px;
    height:30px;
    margin-left:10px;
    color:white;
    border-left:3px solid white; 
    position:relative
}
.header .nav .form i{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:0;
    font-size:20px
}
.header .nav .menu {
    color: white;
    font-size: 22px
}
.header .nav .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 20px;
    width: calc(100% - 40px);
    background-color: rgb(0 0 0 /50%)
}
.header .nav .menu:hover + ul li a {
    padding:15px
}
/*end header*/
/*start landing*/
.landing{
    background-color:#413131;
    background-image:url(../images/wolf2.jpg);
    min-height:100vh;
    background-size:cover
    /*position:relative;*/
}
.landing .overlay{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:rgb(0 0 0 / 60%)
}
.landing .overlay .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--transparent-color);
    padding: 40px;
    color: white;
    display:flex;
    justify-content:flex-end
}
.landing .overlay .content{
    max-width:75%
}
.landing .overlay .content h2{
    font-size:30px;
    margin-bottom:15px;
    line-height:1.5
}
.landing .overlay .content p{
    line-height:2;
    font-size:14px
}
.landing .overlay .arrows{
    color:white;
    position:absolute;
    padding:20px;
    font-size:30px;
    top:50%;
    transform:translateY(-50%);
    display:flex;
    width:100%;
    justify-content:space-between;
    cursor:pointer
}
.landing .overlay .arrows i:hover{
    color:aqua
}
.landing .overlay .bullets{
    position:absolute;
    left:50%;
    bottom:30px;
    transform:translateX(-50%);
    display:flex;
    flex-direction:row
}
.landing .overlay .bullets span{
    display:flex;
    border:1px solid white;
    border-radius:50%;
    width:20px;
    height:20px;
    margin:3px
}
.landing .overlay .bullets .active {
    border: none;
    background-color: var(--main-color)
}
/*end landing*/
/*start services*/
.services {
    padding-bottom: 100px
}
.services .srv-container .srv-box{
    display:flex
}
.services .srv-container .srv-box i{
    margin-right:30px;
    font-size:40px
}
.services .srv-container .srv-box h3{
    margin-bottom:30px;
    color:var(--main-color)
}
.services .srv-container .srv-box P{
    line-height:2;
    color:#777
}
/*end services*/
/*start design*/
.design{
    background-image:url(../images/clock2.jpg);
    background-size:cover;
    min-height:70vh;
    position:relative
}
.design .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%)
}
.design .content {
    background-color: var(--transparent-color);
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 65px;
    color:white
}
.design .content h2{
    font-weight:normal;
    font-size:26px;
    margin-bottom:15px
}
.design .content .one {
    display: flex;
    padding:15px
}
.design .content .one p {
    font-size: 17px
}
.design .content .one i {
    margin-right:40px;
    padding:3px
}
/*end design*/
/*start portfolio*/
.portfolio .container {
    position:relative
}
.portfolio .container .opt{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:50px;
    display:flex
}
.portfolio .container .opt div{
    padding:10px
}
.portfolio .container .opt div:hover {
    background-color: var(--main-color);
    color: white;
    cursor: pointer
}
.portfolio .container .opt div:first-child {
    background-color: var(--main-color);
    color: white
}
.portfolio .images {
    display:flex;
    flex-wrap:wrap;
}
.portfolio .images .box{
    flex-basis:25%;
    position:relative;
    overflow:hidden;
}
@media (min-width :768px){
.portfolio .images .box{
    flex-basis:50%;
}
}
@media (min-width:1200px){
.portfolio .images .box{
    flex-basis:25%;
}
}
@media (max-width:768px){
.portfolio .images .box{
    flex-basis:100%;
}
}
.portfolio .images .box img{
    max-width:100%;
}
.portfolio .images .box .caption{
    position:absolute;
    bottom:-100px;
    background-color:white;
    width:100%;
    transition:0.3s;
    padding:5px;
}
.portfolio .images .box .caption p{
    color:var(--main-color);
    margin-top:2px;
}
.portfolio .images .box:hover .caption {
    bottom:0;
}
.portfolio .images .box:hover img{
    transform:rotate(3deg) scale(1.1);
    transition:0.3s;
}
.portfolio .more{
    text-align:center;
    cursor:pointer;
    margin-top:30px;    
}
.portfolio .more:hover a{
    background-color: #1c93b3;
}
.portfolio .more a {
    text-decoration:none;
    background-color:var(--main-color);
    padding:5px 15px;
    color:white;
}
/*end portfolio*/
/*start video*/
.video {
    position:relative;
    margin-top:60px;
}
.video video{
    width:100%;
}
.video::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    left:0;
    background-color:rgb(0 0 0 /50%);
}
.video .text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: var(--transparent-color);
    color:white;
    padding:10px 0;
}
.video .text h2{
    font-weight:normal;
    margin-top:20px;
}
.video .text p {
    margin:20px 0;
}
.video .text button{
    border:none;
    background-color:black;
    color:white;
    margin-bottom:20px;
    padding:10px 15px;
}
/*end video*/
/*start images*/
.about{
    overflow:hidden;
    text-align:center;
}
.about .main-heading{
    padding-bottom:0;
}
.about img{
    width:500px;
    position:relative;
    bottom:-160px;
    margin-top:-160px;
    max-width:100%;
}
@media (max-width:768px){
.about img{
    bottom:-100px;
    margin-top:-100px;
}
}
/*end about*/
/*start statics*/
.static{
    text-align:center;
    background-image:url("../images/caption2.jpg");
    background-size:cover;
    position:relative;
    padding:200px 0;
}
.static::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0 0 0 /50%);
    top: 0;
    left: 0;
}

.static .container{
    display:flex;
    color:white;
    position:relative;
    flex-wrap:wrap;
}
.static .container .box{
    padding:50px;
    background-color:var(--transparent-color);
}
@media (max-width:768px){
.static .container .box{
    flex-basis:100%;
}
.static .container .box:not(:last-child) {
    border-bottom: 2px solid wheat;
}
}
@media (min-width:768px){
.static .container .box{
    flex-basis:50%;
}
.static .container .box:nth-of-type(2), .box:nth-of-type(4) {
    border-left: 2px solid wheat;
}
.static .container .box:nth-of-type(1), .box:nth-of-type(2) {
    border-bottom: 2px solid wheat;
}
}
@media (min-width:992px) {
.static .container .box {
    flex-basis: 25%;
}
.static .container .box:not(:first-child) {
    border-left: 2px solid wheat;
}
.static .container .box:nth-of-type(1), .box:nth-of-type(2) {
    border-bottom: none;
}
}
.static .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.static .container .box .text {
    font-size: 20px;
}
.static .container .box .text h2 {
    margin:0 0 10px;
}
.static .container .box .text p{
    font-size:16px;
}
/*end statics*/
/*start test*/
.test{
    padding:100px 0;
    text-align:center;  
}
.test .box{
    flex-basis:45%;
}
@media (max-width:992px){
.test .box{
    flex-basis:100%;
    margin-bottom:50px;
}
}
.test .container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.test .container .text{
    font-size:18px;
}
.test .container .text h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
}
.test .container .text p{
    color:#777;
}
.test .box .content img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.test .box .content{
    display:flex;
    margin:50px 0;
    align-items:center;
}
.test .content .tex p:last-child {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    color: #777;
}
.test .content .tex{
    border-bottom:2px solid #777;
    margin:10px 20px;
}
.test .box .bullets{
    display:flex;
    justify-content:center;
}
.test .bullets div{
    width:20px;
    height:20px;
    border-radius:50%;
    border:2px solid #777;
    margin:2px;
}
.test .bullets div:nth-child(2){
    border:none;
    background-color:var(--main-color);
}
.test .box .score{
    text-align:start;
    margin:50px 0;
}
.test .score div{
    position:relative;
    margin:30px 0;
}
.test .box .score span{
    display:flex;
    margin:10px 0;
}
.test .box .score span:first-child {
    width: 100%;
    height: 30px;
    background-color: #eee;
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index:-1
}
.test .box .score span:last-child{
    width:100%;
    height:30px;
    background-color:var(--main-color);
    position:relative;
}
.test .box .score div:first-child span:last-child {
    width: 90%
}
.test .box .score div:first-child span:last-child::before {
    content: "90%";
    position: absolute;
    width: 20px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 30%;
}
.test .box .score div:nth-child(2) span:last-child {
    width: 85%
}
.test .box .score div:nth-child(2) span:last-child::before {
    content: "85%";
    position: absolute;
    width: 20px;
    height: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 30%;
}
.test .box .score div:nth-child(3) span:last-child {
    width: 80%
}
.test .box .score div:nth-child(3) span:last-child::before {
    content: "80%";
    position: absolute;
    width: 20px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 30%;
}   
.test .box .score div:nth-child(4) span:last-child {
    width: 90%
}
.test .box .score div:nth-child(4) span:last-child::before {
    content: "90%";
    position: absolute;
    width: 20px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 30%;
}
.test .box .score span:last-child::before {
    right:-20px;
    top:-40px;
}
.test .box .score span:last-child::after{
    content:"";
    position:absolute;
    border:10px solid;
    border-color:black transparent transparent transparent;
    right:-10px;
    top:-15px;
}
.test .image {
    background-image:url("../images/caption8.jpg");
    background-size:cover;
    position:relative;
}
.test .image::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(0 0 0/70%);
    left:0;
}
.test .image .text {
    color: white;
    text-align: center;
    padding: 150px 0;
    margin-top: 100px;
    position:relative;
    font-size:20px;
}
.test .image .text p:first-child{
    margin-bottom:70px;
}
/*end test*/
/*start pricing*/
.pricing .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}
.pricing .content .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    border: none;
}
.pricing .content .box div {
    padding: 20px 0;
}
.pricing .content .box div:first-child {
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.pricing .content .box div:nth-child(2) {
    border-bottom: 2px solid var(--main-color);
    height: fit-content;
}
.pricing .content .box div:nth-child(3) {
    height: fit-content;
}
.pricing .content .box div:nth-child(3) button {
    padding: 15px 25px;
    color: blue;
    border: 2px solid var(--main-color);
    background-color: white;
    cursor:pointer;
}
.pricing .content .box div:nth-child(3) button:hover{
    color:red;
}
.pricing .content .box div:nth-child(2) p:not(:last-child) {
    border-bottom: 2px solid var(--main-color);
    width: 65%;
    margin: auto;
}
.pricing .content .box div:nth-child(2) p {
    padding: 20px 0;
}
.pricing .content .box div:first-child h2{
    font-weight:normal;
    font-size:30px;
}
.pricing .content .box div:first-child span {
    font-weight: bold;
    position: relative;
    font-size: 70px;
}
.pricing .content .box div:first-child span::before{
    content:"/mo";
    position:absolute;
    font-size:20px;
    bottom:0;
    right:-40px;
    font-weight:normal;
}
.pricing .content .box div:first-child span::after {
    content: "\24";
    position:absolute;
    font-family:"font awesome 5 free";
    font-size:20px;
    top:0;
    left:-40px;
    font-size:30px;
    font-weight:normal;
}
.pricing .contact{
    text-align:center;
    padding:30px;
    font-size:20px;
}
.pricing .contact div{
    margin :30px 0;
}
.pricing .contact a{
    text-decoration:none;
    color:white;
    background-color:var(--main-color);
    padding:10px 20px;
    font-size:16px;
}
/*end pricing*/
/*start email*/
.email{
    background-image:url(../images/road2.jpg);
    background-size:cover;
    position:relative;
}
.email::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(0 0 0 / 60%);
}
.email .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding:100px 0;
}
.email .container div:first-child{
    display:flex;
    height:fit-content;
    justify-content:center;
}
.email .container div:last-child {
    color: white;
    text-align: center;
    line-height: 2;
}
@media (max-width:992px){
.email .container div:last-child{
    min-width:100%;
    margin-top:30px;
}
.email .container{
    justify-content:center;
}
}
.email .container div:first-child div {
    border: 2px solid white;
    width: fit-content;
    display: flex;
    align-items: center;
}
.email .container div:first-child input {
    padding: 10px 15px;
    border:none;
    height:44.44px;
    color:white;
}
.email .container div:first-child input:first-of-type{
    background-color:transparent;
}
.email .container div:first-child input:first-of-type:focus{
    outline:none;
}
.email .container div:first-child input:last-of-type {
    background-color: var(--main-color);
    text-transform: uppercase;
}
.email .container div {
    flex-basis: 50%;
    position: relative;
}
.email .container div:first-child i {
    font-size: 20px;
    padding: 10px 0 10px 15px;
    color:white;
}
/*end email*/
/*start contact*/
.contact{
    margin-bottom:100px;
}
.contact .form {
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
}
.contact .form form {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
.contact .form form .main-input {
    padding: 20px;
    margin-bottom: 25px;
}
.contact .form form .main-input:focus{
    outline:none;
}
.contact .form textarea {
    height: 200px;
}
.contact .form .submit {
    width: fit-content;
    padding: 20px;
    border: none;
    color: white;
    background-color: var(--main-color);
    text-transform: uppercase;
    margin-left: auto;
}
.contact .form .submit:hover {
    background-color: #09b5e3;
}
.contact .form .text {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width:768px){
.contact .form .text{
    flex-basis:100%;
    text-align:center;
    margin-top:50px;
}
.contact .form form{
    flex-basis:100%;
}
.contact .form form .submit{
    margin-right:auto;
}
}
.contact .form .text h4{
    margin-bottom:20px;
    font-weight:normal;
}
.contact .form .text p{
    color:#777;
    margin-bottom:10px;
}
.contact .form .text div:last-child{
    margin-bottom:75px;
}
/*end contact*/
/*start footer*/
.footer {
    background-image: url("../images/road2.jpg");
    background-size: cover;
    padding: 100px 0;
    position:relative;
}
.footer::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(0 0 0 / 70%);
    top:0;
    left:0;
}
.footer .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer .container img{
    width:60px;
    margin-bottom:20px;
}
.footer .social h3 {
    margin-bottom: 70px;
    position: relative;
}
.footer .social h3::before{
    content:"";
    position:absolute;
    width:130%;
    left:-15%;
    bottom:-34px;
    height:2px;
    background-color:white;
}
.footer .social i{
    padding:5px;
    font-size:22px;
}
.footer p{
    margin-top:70px
}
.footer p span{
    font-weight:bold;
    color:var(--main-color);
}
/*end footer*/
